@{
    ViewData["Title"] = "Analyze Data";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" asp-area="" asp-controller="Analysis" asp-action="AnalysisHome">Analysis Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" asp-area="" asp-controller="Analysis" asp-action="AnalyzeData">Analyze Data</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-area="" asp-controller="Analysis" asp-action="Recommendations">Recommendations</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="display-4">Diet</h3>
            <h4>Visulization</h4>
            <img src="/image/analysis1.png" alt="Bar chart" width="300" height="200">
            <br /><br /><br />
            <h4>Hypothesis Testing</h4>
            <img src="/image/analysis2.png" alt="Bar chart" width="300" height="200">
        </div>
        <div class="col">
            <h3 class="display-4">Exercise</h3>
            <h4>Visulization</h4>
            <img src="/image/analysis1.png" alt="Bar chart" width="300" height="200">
            <br /><br /><br />
            <h4>Hypothesis Testing</h4>
            <img src="/image/analysis2.png" alt="Bar chart" width="300" height="200">
        </div>
    </div>
</div>