<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Food Nutrition Table</title>
    <style>
        table {
            width: 70%;
            border-collapse: collapse;
            margin: 30px auto;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        h2 {
            text-align: center;
        }
    </style>
</head>
<body>

<h2>Food Nutritional Information</h2>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Calories</th>
            <th>Protein (g)</th>
            <th>Carbs (g)</th>
            <th>Fat (g)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Egg</td>
            <td>90</td>
            <td>9</td>
            <td>0</td>
            <td>5</td>
        </tr>
        <tr>
            <td>Banana</td>
            <td>15</td>
            <td>0</td>
            <td>15</td>
            <td>0</td>
        </tr>
    </tbody>
</table>

</body>
</html>