<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Food Nutrition Table</title>
    <style>
        table {
            width: 70%;
            border-collapse: collapse;
            margin: 30px auto;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
        h2 {
            text-align: center;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" asp-area="" asp-controller="Diet" asp-action="DietHome">Diet Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" asp-area="" asp-controller="Diet" asp-action="FoodLibrary">Food Library</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" asp-area="" asp-controller="Diet" asp-action="Tracker">Tracker</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<h2>Nutrition Tracker</h2>

<table>
    <thead>
        <tr>
            <th>Calories</th>
            <th>Protein (g)</th>
            <th>Carbs (g)</th>
            <th>Fat (g)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
        </tr>
    </tbody>
</table>

</body>
</html>